# Default ignored files
/../../../../../../../../:Koodit/Ohjelmointi-01/.idea/shelf/
/../../../../../../../../:Koodit/Ohjelmointi-01/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../:Koodit/Ohjelmointi-01/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../../:Koodit/Ohjelmointi-01/.idea/dataSources/
/../../../../../../../../:Koodit/Ohjelmointi-01/.idea/dataSources.local.xml
